/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.pl-0 {
    padding-left: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pt-0 {
    padding-top: 0px !important;
}
